<div *ngIf="!loginService.isLoggedIn">Please login first!</div>
<section *ngIf="loginService.isLoggedIn">
    <h1 class="mat-display-1">Profile</h1>
    <form [formGroup]="updateProfileForm" id="updateProfileForm">
        <!-- profile img -->
        <!-- <div>
            <i class="material-icons profileIcon">account_circle</i>
            <div  class="marginLR">
                <label for="" >Select profile img </label>
                <input type="file" formControlName="userImg">
                <br> <br>
            </div>
        </div> -->
        <mat-form-field appearance="outline" class="marginLR">
            <mat-label>userMail *</mat-label>
            <input matInput placeholder="userMail" formControlName="userMail">
        </mat-form-field>
            
        <mat-form-field appearance="outline" class="marginLR">
            <mat-label>userName *</mat-label>
            <input matInput placeholder="userName" formControlName="userName">
        </mat-form-field>
        
        <p class="mat-small margin16">Note: in order to update your password, you have to fill in your current password too. If you dont wanna update it, just leave following inputs blank and click update :)</p>
        <br>
        <mat-form-field appearance="outline" class="marginLR">
            <mat-label>current password</mat-label>
            <input matInput placeholder="userPassword" type="password" formControlName="userPassword">
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="marginLR">
            <mat-label>new password</mat-label>
            <input matInput placeholder="newUserPassword" type="password" formControlName="newUserPassword">
        </mat-form-field>
        <div>
            <br>
            <mat-divider></mat-divider>
            <br>
            <p class="mat-small"> * Mandatory fields</p>
            <a mat-button color="warn" (click)="deleteUser()">Delete profile</a>
            <button mat-button color="primary" [disabled]="updateProfileForm.invalid" (click)="updateUser()">Update profile</button>
        </div>
    </form>
    <br> <br>
    <h2 class="mat-h2" *ngIf="shops?.length > 0">Your bike shops</h2>

    <div *ngFor="let shop of shops">
        <p>Bike shop name: {{shop.shopName}}</p>
        <p>Address: {{shop.shopAddress}}</p>
    </div>
    <!-- <mat-accordion>
            <mat-expansion-panel *ngFor="let shop of shops">

                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Bike shop name: {{shop.bikeShopName}}
                      </mat-panel-title>
                      <mat-panel-description>
                        Address: {{shop.bikeShopAddress}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
              
                    <mat-vertical-stepper linear #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                          <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Basic bike shop info</ng-template>
                            <br><br>
                
                            <mat-form-field appearance="outline" class="marginLR">
                                <mat-label>bike shop name</mat-label>
                                <input matInput placeholder="bike shop name" formControlName="bikeShopName" required>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline" class="marginLR">
                                <mat-label>bike shop address</mat-label>
                                <input matInput placeholder="bike shop address" formControlName="bikeShopAddress" required>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline" class="marginLR">
                                <mat-label>bike shop phone</mat-label>
                                <input matInput placeholder="bike shop phone" formControlName="bikeShopPhone" type="number" required>
                            </mat-form-field>
                
                            <mat-form-field appearance="outline" class="marginLR">
                                <mat-label>bike shop price point</mat-label>
                                <mat-select placeholder="bike shop price point" formControlName="bikeShopPricePoint" required>
                                    <mat-option *ngFor="let pricePoint of pricePoints" [value]="pricePoint.value">
                                        {{pricePoint.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                
                            <div>
                              <button mat-button matStepperNext [disabled]="firstFormGroup.invalid" >Save</button>
                            </div>
                          </form>
                        </mat-step>
                
                        <mat-step [stepControl]="secondFormGroup">
                          <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Business focus</ng-template>
                            <br><br>
                
                            <mat-slide-toggle formControlName="isNewBikeSeller" class="sliderBox">Business sells new bikes</mat-slide-toggle>
                            <mat-slide-toggle formControlName="is2ndHandBikeSeller" class="sliderBox">Business sells 2nd hand bikes</mat-slide-toggle>
                            <mat-slide-toggle formControlName="isBikeRental" class="sliderBox">Business rensts bikes</mat-slide-toggle>
                            <mat-slide-toggle formControlName="isBikeRepair" class="sliderBox">Business repairs bikes</mat-slide-toggle>
                            <mat-slide-toggle formControlName="isAccessoriesSeller" class="sliderBox">Business sells accessories for bikes</mat-slide-toggle>
                            <br><br>
                            <div>
                              <button mat-button matStepperNext >Save</button>
                            </div>
                          </form>
                        </mat-step>
                
                        <mat-step [stepControl]="thirdFormGroup">
                          <form [formGroup]="thirdFormGroup">
                            <ng-template matStepLabel>Opening hours</ng-template>
                            <br><br>
                            <div *ngFor="let day of days">
                                <p>{{day}}</p>
                                <mat-form-field>
                                    <mat-select placeholder="open" formControlName="{{day}}Open">
                                      <mat-option *ngFor="let time of times" [value]="time.value">
                                        {{time.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select placeholder="close" formControlName="{{day}}Close">
                                      <mat-option *ngFor="let time of times" [value]="time.value">
                                        {{time.viewValue}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <br><br>
                            <div>
                              <button mat-button matStepperNext >Save</button>
                            </div>
                          </form>
                        </mat-step>
                
                        <mat-step [stepControl]="fourthFormGroup">
                          <form [formGroup]="fourthFormGroup">
                            <ng-template matStepLabel>Image of the bikeshop</ng-template>
                            <br><br>
                            <div class="marginLR">
                              <label for="" >Select image of the bikeshop</label><br>
                              <input type="file" formControlName="shopImage">
                            </div>
                            <br><br>
                            <div>
                              <button mat-button matStepperNext >Save</button>
                            </div>
                          </form>
                        </mat-step>
                      </mat-vertical-stepper>
              
                  </mat-expansion-panel>
              
    </mat-accordion> -->

</section>