<div *ngIf="!loginService.isLoggedIn">Please login first!</div>

<section *ngIf="loginService.isLoggedIn">
  <h1 class="mat-display-1">Offers</h1>
  
  <div *ngIf="!loginService.isBikeAdmin">
      <mat-card>
          <mat-card-header>
              <mat-card-title>Create an offer</mat-card-title>
          </mat-card-header>
          <mat-card-content class="marginLR">
            <form [formGroup]="offerForm" (submit)="onSubmit(offerForm)">
              <mat-form-field appearance="outline" class="fullWidthTextarea">
                <mat-label>Offer *</mat-label>
                <textarea matInput placeholder="Your offer goes here" matTextareaAutosize matAutosizeMinRows="2"
                          matAutosizeMaxRows="10" formControlName="offerText"></textarea>
              </mat-form-field>
              <button mat-button type="submit" [disabled]="offerForm.invalid">Submit</button>
            </form>
          </mat-card-content>
      </mat-card>
  </div>
  <br><br>
  <div class="inline reverseOrder" *ngIf="loginService.isBikeAdmin || loginService.isAdmin">
      <mat-card class="offerCard" *ngFor="let offer of offers">
          <mat-card-header>
            <div mat-card-avatar><i class="material-icons">account_circle</i></div>
            <mat-card-title>{{offer.userName}}</mat-card-title>
            <!-- <mat-card-subtitle></mat-card-subtitle> -->
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <p>{{offer.message}}</p>
            <br>
            <mat-divider></mat-divider>
            <br>
            <p>contact the user on {{offer.userMail}}</p>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button *ngIf="loginService.isAdmin" color="warn">DELETE</button> -->
          </mat-card-actions>
        </mat-card>
  </div>
</section>