<div *ngIf="!loginService.isLoggedIn">Please login first!</div>

<section *ngIf="loginService.isLoggedIn && loginService.isAdmin">
    <h1 class="mat-display-1">Users</h1>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let user of users" [ngClass]="{bikeAdmin: user.isBikeAdmin, admin: user.isAdmin}">
          <mat-expansion-panel-header>
              
            <mat-panel-title>User name: {{user.userName}}</mat-panel-title>

            <mat-panel-description>User e-mail: {{user.userMail}}</mat-panel-description>

            <mat-panel-description *ngIf="user.isBikeAdmin">User type: Bike admin</mat-panel-description>
            <mat-panel-description *ngIf="user.isAdmin">User type: Admin</mat-panel-description>
            <mat-panel-description *ngIf="!user.isAdmin && !user.isBikeAdmin">User type: User</mat-panel-description>
            
          </mat-expansion-panel-header>

            <mat-action-row>
              <button mat-button (click)="deleteUser(user.userMail)">Delete user</button>
            </mat-action-row>

            <div *ngIf="user.isBikeAdmin">
              <p class="mat-h2">Claimed bikeshops</p>
              <div class="row">
                <p class="aside">Shop name</p>
                <mat-divider [vertical]="true"></mat-divider>
                <p class="middle">Address</p>
                <mat-divider [vertical]="true"></mat-divider>
                <p class="aside">Action</p>
              </div>
              <div class="row" *ngFor="let shop of shops">
                <p class="aside">{{shop.bikeShopName}}</p>
                <mat-divider [vertical]="true"></mat-divider>
                <p class="middle">{{shop.bikeShopAddress}}</p>
                <mat-divider [vertical]="true"></mat-divider>
                <div class="aside">
                  <button mat-button (click)="deleteShop(shop.shopId)">Delete</button>
                  <button mat-button (click)="redirectToEdit(shop.shopId)">Edit</button>
                  <button mat-button>Unclaim</button>
                </div>
              </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>