<section *ngIf="shop">
  <h1 class="mat-display-1 title">{{shop.shopName}}</h1>
  <drag-scroll>
      <img class="imgSize" drag-scroll-item *ngFor="let image of shop.images" [src]="convert(image.img)" alt="bike"/>
  </drag-scroll>
<!-- <div class="imgContainer">
    <div *ngFor="let image of shop.images">
      <img [src]="convert(image.img)" alt="bike">
    </div>
  </div> -->
  <mat-card>
      <mat-card-header>
          <mat-card-title>Basic info</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="inline">
          <mat-list>

            <mat-list-item>
              <mat-icon mat-list-icon>home</mat-icon>
              <p>{{shop.shopName}}</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon>location_on</mat-icon>
              <p>{{shop.shopAddress}}</p>
            </mat-list-item>

            <mat-list-item *ngIf="shopPhone">
              <mat-icon mat-list-icon>call</mat-icon>
              <p>{{shop.shopPhone}}</p>
            </mat-list-item>

            <mat-list-item *ngIf="shop.isBikeRepair || shop.isRental || shop.sells2ndHandBikes || shop.sellsAccessories || shop.sellsNewBikes">
              <mat-icon mat-list-icon>done</mat-icon>
                <div class="inline">
                  <p *ngIf="shop.isBikeRepair">Bike repair</p>
                  <p *ngIf="shop.isRental">Bike rental</p>
                  <p *ngIf="shop.sells2ndHandBikes">Sells 2nd hand bikes</p>
                  <p *ngIf="shop.sellsAccessories">Sells accessories</p>
                  <p *ngIf="shop.sellsNewBikes">Sells new bikes</p>
                </div>
            </mat-list-item>
            
          </mat-list>

          <div class="inline minWidth">
              <mat-icon mat-list-icon id="clockIcon">schedule</mat-icon>
                <div>
                  <div *ngFor="let item of openingHours" class="inline">
                    <p class="marginSX">{{item.day}}</p>
                    <p class="marginSX">{{item.openTime}}</p>
                    <p class="marginSX">{{item.closeTime}}</p>
                  </div>
                </div>
          </div>

        </div>
      </mat-card-content>
  </mat-card>

  <mat-card class="marginTB">
    <mat-card-header>
        <mat-card-title>Rating & Reviews</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="inlineRating">
        <div>
            <i class="material-icons">star</i>
        </div>
        <p>{{shopReviewAvg}}</p>
      </div>

      <div id="userReview" *ngIf="loginService.isLoggedIn && !loginService.isBikeAdmin && canReview">
        <br><mat-divider></mat-divider><br>
        <mat-card-header>
            <mat-card-title>Write a review</mat-card-title>
        </mat-card-header>
        <div>
            <!-- <i class="material-icons profileIcon">account_circle</i> -->
            <form [formGroup]="createReviewForm" (submit)="onSubmit(createReviewForm)">
              <mat-form-field appearance="outline" class="marginLR">
                <mat-select placeholder="Star rating" formControlName="stars">
                  <mat-option *ngFor="let starRating of starRatings" [value]="starRating.value">
                    {{starRating.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
                <mat-form-field appearance="outline" class="marginLR">
                    <mat-label>Review *</mat-label>
                    <input matInput placeholder="Review" formControlName="review">
                </mat-form-field>
                <button mat-flat-button color="primary" type="submit">Submit</button>
            </form>
        </div>
      </div>

      <div *ngIf="errReviewMsg">
          <br><mat-divider></mat-divider><br><br>
          <mat-card-header>
              <mat-card-title>This shop has been reviewed by you before</mat-card-title>
          </mat-card-header>
      </div>

      <br><mat-divider></mat-divider><br>

      <div>
        <mat-card-header>
            <mat-card-title>All reviews</mat-card-title>
        </mat-card-header>
        <div *ngFor="let userReview of userReviews">
          <div class="singleReviewBox">
              <div class="imgBox">
                <i class="material-icons">account_circle</i>
                <p>{{userReview.userName}}</p>
              </div>
              <div class="reviewText">
                <p>stars: {{userReview.rating}}</p>
                <i>"{{userReview.review}}"</i>
              </div>
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="loginService.isBikeAdmin">
    <mat-card-header>
      <mat-card-title>Do you own this business?</mat-card-title>
    </mat-card-header>
    <mat-card-content><br>
      <button mat-flat-button color="primary" (click)="claimShop()" class="marginLR">Claim shop</button>
      {{claimShopResponse}}
    </mat-card-content>
  </mat-card>

</section>

