<section *ngIf="!loginService.isLoggedIn">
  <h1 class="mat-display-1">Login</h1>
  <form [formGroup]="loginForm" (submit)="onSubmit(loginForm)" id="loginForm">
      <mat-form-field appearance="outline" class="marginLR">
        <mat-label>mail *</mat-label>
        <input matInput placeholder="mail" formControlName="userMail">
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="marginLR">
        <mat-label>password *</mat-label>
        <input matInput placeholder="password" formControlName="userPassword" type="password">
      </mat-form-field>
      
      <mat-divider></mat-divider>
      <div id="flexBtnBox">
          <p class="marginLR"> * Mandatory fields</p>
          <button mat-button type="submit" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
    <div id="msgBox">
      <p *ngIf="loginErr">Ooops! Check the characters and try again :)</p>
      <p *ngIf="isTimeout">Ooops! You've entered incorrect login 3 times. Wait 5 min and try again :)</p>
    </div>
</section>

<div *ngIf="loginService.isLoggedIn">You are already logged in :)</div>

