<div *ngIf="!loginService.isLoggedIn">In order to add a place you have to login first :)</div>
<section *ngIf="loginService.isLoggedIn">
    <h1 class="mat-display-1">Add missing place</h1>
    <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Basic bike shop info</ng-template>
          <form [formGroup]="firstFormGroup">
            <br><br>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop name</mat-label>
                <input matInput placeholder="bike shop name" formControlName="bikeShopName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop address</mat-label>
                <input  matInput placeholder="bike shop address" formControlName="bikeShopAddress" required
                        appGoogleAddressAutocomplete (onSelect)="processSelectedAddress($event)">
            </mat-form-field>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop phone</mat-label>
                <input matInput placeholder="bike shop phone" formControlName="bikeShopPhone" type="number" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop price point</mat-label>
                <mat-select placeholder="bike shop price point" formControlName="bikeShopPricePoint" required>
                    <mat-option *ngFor="let pricePoint of pricePoints" [value]="pricePoint.value">
                        {{pricePoint.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
              <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" >
            <ng-template matStepLabel>Business focus</ng-template>
            <br><br>
            <mat-slide-toggle [checked]="true" formControlName="isNewBikeSeller" class="sliderBox">Business sells new bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="is2ndHandBikeSeller" class="sliderBox">Business sells 2nd hand bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="isBikeRental" class="sliderBox">Business rensts bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="isBikeRepair" class="sliderBox">Business repairs bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="isAccessoriesSeller" class="sliderBox">Business sells accessories for bikes</mat-slide-toggle>
            <br><br>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Opening hours</ng-template>
            <br><br>
            <div *ngFor="let day of days">
                <p>{{day}}</p>
                <mat-form-field>
                    <mat-select formControlName="{{day}}Open">
                      <mat-option *ngFor="let time of times" [value]="time.value">
                        {{time.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="{{day}}Close">
                      <mat-option *ngFor="let time of times" [value]="time.value">
                        {{time.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br><br>
            <div>
              <button mat-button matStepperNext  (click)="onSubmitForm()">Create a place</button>
            </div>
          </form>
        </mat-step>

        <!-- <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup" >
            <ng-template matStepLabel>Image of the bikeshop</ng-template>
            <br><br>
            <div class="marginLR">
              <label for="" >Select image of the bikeshop</label><br>
              <input type="file" formControlName="shopImage">
            </div>
            <br><br>
            <div>
              <button mat-button matStepperNext (click)="onSubmitForm()">Next</button>
            </div>
          </form>
        </mat-step> -->

        <mat-step  *ngIf="!errMsg">
          <ng-template matStepLabel>Done</ng-template>
          <br><br>
          Hurray! You are now done :) The shop will be approved by administrator and than displayed to users
          <br><br>
          <div>
            <button mat-button (click)="stepper.reset()">Create another place</button>
            <button mat-button routerLink="/map">Back to map</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      <div id="msgBox" *ngIf="errMsg" >
          <p>Ooops! Incorrect address. Correct it and submit the form again :)</p>
      </div>
</section>
