<section>
  <h1 class="mat-display-1">Register</h1>

  <form [formGroup]="registerForm" (submit)="onSubmit(registerForm)" id="registerForm">

    <button mat-raised-button color="primary" (click)="socialSignIn('facebook')">Prefill data from Facebook</button>
    <br>
    
    <mat-form-field appearance="outline">
      <mat-label>userMail *</mat-label>
      <input matInput placeholder="userMail" formControlName="userMail">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>userName *</mat-label>
      <input matInput placeholder="userName" formControlName="userName">
    </mat-form-field>

    <p class="mat-small">Note: password must include lower case, upper case and a number, while min password length is 8 characters :)</p>
    
    <mat-form-field appearance="outline">
      <mat-label>userPassword *</mat-label>
      <input matInput placeholder="userPassword" formControlName="userPassword" type="password">
    </mat-form-field>

    <mat-slide-toggle formControlName="isBikeAdmin">Register as bike shop administrator</mat-slide-toggle>
    
    <br>
    <!-- <div>
      <label for="" >Select profile img </label>
      <input type="file" formControlName="userImg">
    </div>
    <br> -->
    <mat-divider></mat-divider>
    
    <div id="flexBtnBox">
        <p class="marginLR mat-small" > * Mandatory fields</p>
        <button mat-button type="submit" id='submitButton' [disabled]="registerForm.invalid">Register</button>
    </div>
  </form>
  <div id="msgBox" *ngIf="registerErr">
    <p>Ooops! can't register. Check the characters and try again.</p>
  </div>
</section>