<section>
    <h1 class="mat-display-1 title">Bike Shops Map</h1>

    <form [formGroup]="searchForm" (keydown)="keyDownFunction($event)" id="searchFormWrap">
      <mat-form-field appearance="outline">
        <mat-label>Search by shop name</mat-label>
        <input [(ngModel)]="searchOptionText" matInput placeholder="Search by shop name" formControlName="search" (keyup)="searchOptionsChanged()">
      </mat-form-field>
    </form>
    
    <div id="filters">
        <mat-checkbox [(ngModel)]="searchOptionSellsNew" (change)="searchOptionsChanged()"  class="marginLR">Sells new</mat-checkbox>
        <mat-checkbox [(ngModel)]="searchOptionSells2ndHand" (change)="searchOptionsChanged()"  class="marginLR">Sells 2nd hand</mat-checkbox>
        <mat-checkbox [(ngModel)]="searchOptionSellsAccessories" (change)="searchOptionsChanged()"  class="marginLR">Sells accessories</mat-checkbox>
        <mat-checkbox [(ngModel)]="searchOptionRental" (change)="searchOptionsChanged()" class="marginLR">Rental</mat-checkbox>
        <!-- <mat-checkbox [(ngModel)]="searchOptionOpenNow" (change)="searchOptionsChanged()" class="marginLR">Open now</mat-checkbox> -->
        <mat-checkbox [(ngModel)]="searchOption$" (change)="searchOptionsChanged()" class="marginLR">$</mat-checkbox>
        <mat-checkbox [(ngModel)]="searchOption$$" (change)="searchOptionsChanged()" class="marginLR">$$</mat-checkbox>
        <mat-checkbox [(ngModel)]="searchOption$$$" (change)="searchOptionsChanged()" class="marginLR">$$$</mat-checkbox>
    </div>
    
    <div #gmap style='width:100%;height:400px' class="placeholder"></div>
    
    <br><br>
    <h2 class="mat-h2 title">Your results</h2>

    <mat-progress-bar mode="buffer" *ngIf="!shops.length > 0" ></mat-progress-bar>
    
    <mat-accordion *ngIf="shops">
      <div *ngFor="let bikeShop of shops | filterShops :searchOptionText:searchOptionSellsNew:searchOptionSells2ndHand:searchOptionSellsAccessories:searchOptionRental:searchOptionOpenNow:searchOption$:searchOption$$:searchOption$$$">
          <mat-expansion-panel *ngIf="bikeShop.latitude">
              <mat-expansion-panel-header class="expansionPanelMobile">
                <mat-panel-title>
                  {{bikeShop.shopName}}
                </mat-panel-title>
                <mat-panel-description>
                  {{bikeShop.shopAddress}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="badgeContainer">
                  <p class="mat-body-strong" *ngIf="bikeShop.pricePoint">{{bikeShop.pricePoint}}</p>
                  <p class="mat-body-strong" *ngIf="!bikeShop.pricePoint" >Price Point not given</p>
                  <p class="mat-body-strong" *ngIf="bikeShop.sellsNewBikes">New bikes</p>
                  <p class="mat-body-strong" *ngIf="bikeShop.sells2ndHandBikes">2nd hand</p>
                  <p class="mat-body-strong" *ngIf="bikeShop.isRental">Bike rental</p>
                  <p class="mat-body-strong" *ngIf="bikeShop.isBikeRepair">Bike repair</p>
                  <p class="mat-body-strong" *ngIf="bikeShop.sellsAccessories">Sells accessories</p>
                  <!-- <p class="mat-body-strong" color="primary">Open now</p> -->
              </div>
              
              <mat-action-row>
                  <button mat-button routerLink='/bike-shop-details//{{bikeShop.shopId}}'>More info</button>
                  <!-- <button mat-button color="primary" >Get directions</button> -->
              </mat-action-row>
    
            </mat-expansion-panel>

      </div>
        
    </mat-accordion>

</section>