/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { 
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 1em;
    width: 100%;
}

section { 
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

a { text-decoration: none; }

// admin dashboard
.itemsToDo { font-size: 50px; }

.cardContainer { 
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .todoCard {
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            transform:scale(1.1,1.1);
        }
    }
}

// frm style 
.marginLR { 
    margin: 0em 1em;
    // min-width: 300px;
}

#flexBtnBox {
    margin: 1em 0em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#registerForm, #updateProfileForm, #loginForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 1em;
    .margin { margin: 1em; }
}

.margin16 { margin: 16px; }

#msgBox {
    display: flex;
    justify-content: center;
    color: #f44336;
}

// approve shops
.yes { color: #3f51b5; }
.no { color: #9e9e9e; }

// profile style
.profileIcon { font-size: 150px; }

// content container + sidenac
.container {
    width: 100%;
    min-height: 64vh;
}

.content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    nav { 
        display: flex;
        flex-direction: column;
        width: 150px;
    }
}

// footer
footer {
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 3em;
    padding-bottom: 3em;
    #footerFlexContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// create bike slider
.sliderBox {
    margin: 1em;
    min-width: 300px;
}

// map-search
#searchFormWrap {
    mat-form-field {
        width: 100%;
    }
}

.badgeContainer{
    display: flex;
    p{
        margin: 1em;
        background-color:#3f51b5;
        color: white;
        padding: .5em 1em;
        border-radius: 50px;
    }
}

.placeholder {
    background-color: #e5e3df;
    min-height: 400px;
}

// bike shop details 
// images
.imgContainer { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}

.imgContainer div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}

.imgContainer div img { 
  width: 100%; 
  height: auto; 
}

// bike shop info - inline 
.inline {
    display: flex;
    flex-wrap: wrap;
    p { margin-right: 1em; }
    #clockIcon {
        margin: 14px;
        padding-left: 4px;
        padding-right: 8px;
    }
    .minWidth { min-width: 250px; }
}

.reverseOrder {
    flex-flow: wrap-reverse;
}

.marginSX { margin: 0.5em !important; }

// bikeshop reviews
.marginTB { margin: 1em 0em; }

.inlineRating {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    p { 
        font-size: 50px;
        margin: 0px 0px 0px 10px;
    }
}

.singleReviewBox {
    display: flex;
    flex-direction: initial;
    align-items: center;
    // border-bottom: solid 1px gray;
    margin: 1em;
    padding-bottom: 1em;
    .imgBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 100px;
        flex-shrink: 0;
        p { margin: 0px; }
    }
    .reviewText { flex-grow: 1; }
}

// users page 
.bikeAdmin { background-color: #cccccc; }

.admin { background-color: #9a9a9a; }

// claimed shops
.row { display: flex; }

.aside {
    flex-basis: 250px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.middle { 
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

// offers
.fullWidthTextarea { width: 100%; }

.offerCard { 
    max-width: 300px;
    margin: 1em;
}

// shops dashboard
.row {
    border-bottom: solid 1px;
    .column1 { width: 280px }
    .column3 { margin-left: auto; }
}

.imgSize{
    max-height: 300px;
    background-color: #e5e3df;
}

@media screen and (max-width: 400px) {
    .imgContainer div { margin: 0; }
    .imgContainer { padding: 0; }
  }
  
  @media screen and (max-width: 700px) {
      .expansionPanelMobile{ height: 100px !important; }
      #searchFormWrap { margin: 1em; }
      #filters {
            margin: 1em;
            display: flex;
            flex-direction: column;
      }
      .title { margin: 1em; }
      .singleReviewBox { 
            flex-direction: column;
            margin: 2em 1em;
            align-items: initial;
            .imgBox { flex-basis: 0px; }
      }
  }