<!-- <div *ngIf="!loginService.isLoggedIn">Please login first!</div>

<section *ngIf="loginService.isLoggedIn"> -->
<section>
    <h1 class="mat-display-1">Edit shop</h1>

    <mat-vertical-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Basic bike shop info</ng-template>
            <br><br>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop name</mat-label>
                <input matInput placeholder="bike shop name" formControlName="bikeShopName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop address</mat-label>
                <input matInput placeholder="bike shop address" formControlName="bikeShopAddress" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop phone</mat-label>
                <input matInput placeholder="bike shop phone" formControlName="bikeShopPhone" type="number" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="marginLR">
                <mat-label>bike shop price point</mat-label>
                <mat-select placeholder="bike shop price point" formControlName="bikeShopPricePoint" required>
                    <mat-option *ngFor="let pricePoint of pricePoints" [value]="pricePoint.value">
                        {{pricePoint.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
              <button mat-button matStepperNext [disabled]="firstFormGroup.invalid" >Save</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Business focus</ng-template>
            <br><br>

            <mat-slide-toggle formControlName="isNewBikeSeller" class="sliderBox">Business sells new bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="is2ndHandBikeSeller" class="sliderBox">Business sells 2nd hand bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="isBikeRental" class="sliderBox">Business rensts bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="isBikeRepair" class="sliderBox">Business repairs bikes</mat-slide-toggle>
            <mat-slide-toggle formControlName="isAccessoriesSeller" class="sliderBox">Business sells accessories for bikes</mat-slide-toggle>
            <br><br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext >Save</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Opening hours</ng-template>
            <br><br>
            <div *ngFor="let day of days">
                <p>{{day}}</p>
                <mat-form-field>
                    <mat-select placeholder="open" formControlName="{{day}}Open">
                      <mat-option *ngFor="let time of times" [value]="time.value">
                        {{time.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="close" formControlName="{{day}}Close">
                      <mat-option *ngFor="let time of times" [value]="time.value">
                        {{time.viewValue}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br><br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext >Save</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>Image of the bikeshop</ng-template>
            <br><br>
            <div class="marginLR">
              <label for="" >Select image of the bikeshop</label><br>
              <input type="file" formControlName="shopImage">
            </div>
            <br><br>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="redirect()" >Save</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>

</section>