<div *ngIf="!loginService.isLoggedIn">Please login first!</div>

<section *ngIf="loginService.isLoggedIn">
  <h1 class="mat-display-1">Shops to approve</h1>

  <p>DISPLAYING 1 OF {{notApprovedShops}}</p>

      <mat-vertical-stepper linear #stepper *ngFor="let pending of pendings">
          <mat-step>
            <ng-template matStepLabel>Basic</ng-template>
            <p class="mat-body-strong" >Shop name : {{pending.shopName | uppercase }}</p>
            <p class="mat-body-strong" >Shop address : {{pending.shopAddress}}</p>
            <p class="mat-body-strong" >Shop phone : {{pending.shopPhone}}</p>
            <p class="mat-body-strong" >Srice point : {{pending.pricePoint}}</p>
            <button mat-button matStepperNext >Next</button>
          </mat-step>
  
          <mat-step>
            <ng-template matStepLabel>Business focus</ng-template>
            <p class="mat-body-strong yes" *ngIf="pending.isBikeRepair == 1">Bike repair : YES</p>
            <p class="mat-body-strong no" *ngIf="pending.isBikeRepair == 0">Bike repair : NO</p>

            <p class="mat-body-strong yes" *ngIf="pending.isRental == 1">Rental : YES</p>
            <p class="mat-body-strong no" *ngIf="pending.isRental == 0">Rental : NO</p>

            <p class="mat-body-strong yes" *ngIf="pending.sells2ndHandBikes == 1">2nd hand bikes : YES</p>
            <p class="mat-body-strong no" *ngIf="pending.sells2ndHandBikes == 0">2nd hand bikes : NO</p>

            <p class="mat-body-strong yes" *ngIf="pending.sellsNewBikes == 1">New bikes : YES</p>
            <p class="mat-body-strong no" *ngIf="pending.sellsNewBikes == 0">New bikes : NO</p>
            
            <p class="mat-body-strong yes" *ngIf="pending.sellsAccessories == 1">Accessories : YES</p>
            <p class="mat-body-strong no" *ngIf="pending.sellsAccessories == 0">Accessories : NO</p>
            <button mat-button matStepperNext >Next</button>
          </mat-step>
  
          <!-- <mat-step>
            <ng-template matStepLabel>Opening Hours</ng-template>
            <div *ngFor="let item of pending.openingHours" class="inline">
              <p class="marginSX">{{item.day}} </p>
              <p class="marginSX">{{item.openTime}} </p>
              <p class="marginSX">{{item.closeTime}}</p>
            </div>
            <button mat-button matStepperNext >Next</button>
          </mat-step> -->
  
          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <br><br>
            <p class="mat-h2">Time to make a desicion</p>
            <p>Hurray! You just checked the form!</p>
            <p class="mat-caption">Publish shop if the information is valid, or cancel the place instance.</p>
            <br><br>
            <div>
              <button mat-button color="warn" (click)="deleteShop(pending.shopId)">Cancel place instance</button>
              <button mat-button color="primary" (click)="approveShop(pending.shopId)">Publish shop</button>
            </div>
          </mat-step>
        </mat-vertical-stepper>

  <p class="mat-h2" *ngIf="pendings.length == 0">Nothing new here!</p>
        
</section>