<div *ngIf="!loginService.isLoggedIn">Please login first!</div>

<section *ngIf="loginService.isLoggedIn">
    <h1 class="mat-display-1">Shops</h1>
    <div class="inline row" *ngFor="let shop of shops">
      <p class="column1">{{shop.shopName}}</p>
      <p>{{shop.shopAddress}}</p>
      <button mat-button class="column3" color="warn" (click)="deleteShop(shop.shopId)">delete</button>
    </div>
    <!-- <p class="mat-h2" *ngIf="shops.length == 0">Nothing new here!</p>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let shop of shops">
          <mat-expansion-panel-header>
              <mat-panel-title>Shop name: {{shop.bikeShopName}}</mat-panel-title>
              <mat-panel-description>address: {{shop.bikeShopAddress}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <p class="mat-h2">Bikeshop owners</p>
            <p *ngIf="shopAdmins.length == 0">This shop does not have an owner</p>
            <div class="row" *ngIf="shopAdmins.length > 0">
              <p class="aside">User name</p>
              <mat-divider [vertical]="true"></mat-divider>
              <p class="middle">Email</p>
              <mat-divider [vertical]="true"></mat-divider>
              <p class="aside">Action</p>
            </div>

            <div class="row" *ngFor="let shopAdmin of shopAdmins">
              <p class="aside">{{shopAdmin.userName}}</p>
              <mat-divider [vertical]="true"></mat-divider>
              <p class="middle">{{shopAdmin.userMail}}</p>
              <mat-divider [vertical]="true"></mat-divider>
              <div class="aside">
                <button mat-button (click)="unclaim(shop.shopId, shopAdmin.userId)">Unclaim</button>
              </div>
            </div>
          </div>
          <mat-action-row>
              <button mat-button color="warn" (click)="deleteShop(shop.shopId)">Delete shop</button>
              <button mat-button color="primary" (click)="redirect()">Edit</button>
          </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion> -->
  
</section>