<div *ngIf="!loginService.isLoggedIn">Please login first!</div>

<section *ngIf="loginService.isLoggedIn">
  <h1 class="mat-display-1">Dashboard</h1>

  <div class="cardContainer">
    
    <mat-card class="todoCard" routerLink="/shops-to-approve">
      <mat-card-header>
        <mat-card-title >shops to approve</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="itemsToDo">{{notApprovedShops}}</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="todoCard" routerLink="/shops">
      <mat-card-header>
        <mat-card-title >shops in total</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="itemsToDo">100</p>
      </mat-card-content>
    </mat-card>
    <!-- <mat-card class="todoCard" routerLink="/users">
    <mat-card-header>
      <mat-card-title >Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="itemsToDo">{{usersCount}}</p>
    </mat-card-content>
    </mat-card> --> 
  </div>
  <!-- <button mat-raised-button color="primary" routerLink="/shops">Preview All Shops </button> -->
</section>


