<mat-toolbar color='primary'>
    <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon class="example-icon">menu</mat-icon>
    </button>
    Bike web
</mat-toolbar>

<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <nav>
            <button mat-button routerLink=login *ngIf="!loginService.isLoggedIn">Login</button>
            <button mat-button routerLink=register *ngIf="!loginService.isLoggedIn">Register</button>
            <button mat-button routerLink=map >Map</button>
            <button mat-button routerLink=profile *ngIf="loginService.isLoggedIn">Profile</button>
            <button mat-button routerLink=admin-dashboard *ngIf="loginService.isAdmin && loginService.isLoggedIn" >Dashboard</button>
            <button mat-button routerLink=create-bike-shop>Add missing place</button>
            <button mat-button routerLink=offers *ngIf="loginService.isLoggedIn">Offers</button>
            <button mat-button *ngIf="loginService.isLoggedIn" (click)="loginService.logout()">Logout</button>
        </nav>
    </mat-drawer>
    <div class="content">
        <main>
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </main>
    </div>
</mat-drawer-container>

<footer>
    <div id="footerFlexContainer">
            <img src="https://cdn3.iconfinder.com/data/icons/the-elegant-set/96/bike.png" alt="logo">
            <p class="mat-h2">Bike web</p>
    </div>
</footer>
